<div class="layout layout--col">
  <table class="hourly-tbl grow">
    {% for h in hourly limit: 18 %}
      <tr>
        {% assign utc_epoch = h.time_iso | date: "%s" | plus: 0 %}
        {% assign local_epoch = utc_epoch | plus: trmnl.user.utc_offset %}
        <td class="nowrap text--right td-time"><span class="label label--small">{{ local_epoch | date: "%-I%P" }}</span></td>
        <td class="td-icon text--center">
          <i class="wi {{ h.icon }} {% if h.is_precip %}wi-precip{% endif %} wi-sm"></i>
        </td>
        <td class="nowrap text--right td-temp"><span class="label label--small bold">{{ h.temp }}°</span></td>
        <td>
          <div class="hour-bar-wrap">
            {% if h.precip_bar > 0 %}
              <div class="hour-bar" style="width: {{ h.precip_bar }}%;"></div>
            {% endif %}
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>

<div class="title_bar">
  <span class="title">Yr.no Weather</span>
  <span class="instance">{{ current.temp }}°C</span>
</div>
