<div class="layout layout--col gap--distribute">
  <div class="flex flex--center-y gap--small w--full">
    <i class="wi {{ current.icon }} {% if current.is_precip %}wi-precip{% endif %} wi-lg"></i>
    <span class="value value--large bold">{{ current.temp }}°</span>
    <span class="label label--small">{{ current.condition }}</span>
  </div>

  <table class="daily-tbl">
    <tr>{% for day in daily limit: 4 %}<td><span class="label label--small bold">{{ day.day }}</span></td>{% endfor %}</tr>
    <tr>{% for day in daily limit: 4 %}<td><i class="wi {{ day.icon }} {% if day.is_precip %}wi-precip{% endif %} wi-sm"></i></td>{% endfor %}</tr>
    <tr>{% for day in daily limit: 4 %}<td><span class="label label--small bold">{{ day.high }}°</span></td>{% endfor %}</tr>
  </table>
</div>

<div class="title_bar">
  <span class="title">Yr.no Weather</span>
  <span class="instance">{{ current.temp }}°C</span>
</div>
